<template>
  <div>
    <q-input
      v-model="name"
      label="Round"
      placeholder="name"
    ></q-input>
    <q-input
      v-model="duration"
      label="duration"
      type="number"
      min="0"
      class="q-mb-md"
    ></q-input>
    <q-btn
      @click="handleButtonClicked"
      icon="schedule"
      class="bg-secondary text-white"
    >Add Round</q-btn>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const name = ref('')
const duration = ref(10)
const emit = defineEmits(['roundAdded'])

function handleButtonClicked () {
  if (!name.value) {
    name.value = 'Some Round'
  }
  emit('roundAdded', { name: name.value, duration: duration.value })
}
</script>
