<template>
  <q-list>
    <q-item class="row" v-for="round in props.rounds" :key="round.id">
      <q-item-section class="col-xs-3 text-center">{{ round.id }}</q-item-section>
      <q-item-section class="col-xs-6 text-center">{{ round.name }}</q-item-section>
      <q-item-section class="col-xs-3 text-center">{{ round.duration }} s</q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>
const props = defineProps({
  rounds: Object
})
</script>
