<template>
  <q-card>
    <q-card-section>
      <div class="text-h6 text-center text-primary">{{ props.training.name }}</div>
    </q-card-section>
    <q-card-section>
      <RoundsList class="text-grey-7" :rounds="props.training.rounds"></RoundsList>
    </q-card-section>
  </q-card>
</template>

<script setup>
import RoundsList from 'components/RoundsList.vue'

const props = defineProps({
  training: Object
})
</script>
