<template>
  <div
    class="text-center q-my-md row"
  >
    <div class="col-xs-4">
      <StartTrainingButton color="primary" @training-started="startTraining" />
    </div>
    <div class="col-xs-4">
      <PauseTrainingButton
        color="secondary"
        @training-paused="pauseTraining"
      />
    </div>
    <div class="col-xs-4">
      <ResetTrainingButton
        color="orange"
        @training-reset="resetTraining"
      />
    </div>
  </div>
  <h3
    class="q-mx-lg text-center bg-orange-7 q-px-md q-py-lg text-white shadow-3 rounded-borders"
    style="border-radius: 1rem"
  >
    {{ props.training.rounds[currentRoundIndex].name }}
  </h3>
  <div>
    <TrainingCard flat :training="props.training" />
  </div>
</template>

<script setup>
import TrainingCard from 'components/TrainingCard.vue'
import StartTrainingButton from 'components/StartTrainingButton.vue'
import PauseTrainingButton from 'components/PauseTrainingButton.vue'
import ResetTrainingButton from 'components/ResetTrainingButton.vue'
import { ref, onBeforeUpdate } from 'vue'
import { useQuasar } from 'quasar'

const props = defineProps({
  training: Object
})
const $q = useQuasar()
const currentRoundIndex = ref(0)
const trainingPaused = ref(false)
const clockIntervalId = ref(0)

onBeforeUpdate(
  () => {
    resetTraining()
  }
)

function resetTraining () {
  clearInterval(clockIntervalId.value)
}

function playRounds (rounds, current = 0) {
  if (rounds[current] === undefined) {
    end()
    currentRoundIndex.value = 0

    return
  }

  currentRoundIndex.value = current
  const { duration, name } = rounds[current]

  let elapsedSeconds = 0
  const notifyTime = (time) =>
    $q.notify({
      message: name + ' ' + time + ' s',
      color: 'blue',
      position: 'center',
      timeout: 100
    })

  notifyTime(duration)

  clockIntervalId.value = setInterval(() => {
    if (trainingPaused.value) {
      return
    }

    const remainingTime = duration - ++elapsedSeconds

    if (remainingTime <= 0) {
      resetTraining()
      playSound()
      $q.notify({
        message: 'ring!',
        color: 'green',
        position: 'center'
      })
      playRounds(rounds, current + 1)

      return
    }

    notifyTime(remainingTime)
  }, 1000)
}

function startTraining () {
  if (trainingPaused.value === true) {
    trainingPaused.value = false

    return
  }

  warmUp(props.training.warmUpDuration).then(() =>
    playRounds(props.training.rounds)
  )
}

function wait (durationInSeconds) {
  return new Promise((resolve) => {
    setTimeout(resolve, durationInSeconds * 1000)
  })
}

async function warmUp (durationInSeconds) {
  if (durationInSeconds <= 0) {
    return
  }

  playTickSound()

  if (durationInSeconds <= 1) {
    playSound()
    return
  }

  const intervalId = setInterval(() => playTickSound(), 1000)

  await wait(durationInSeconds)
  clearInterval(intervalId)
  playSound()
}

function pauseTraining () {
  trainingPaused.value = true
}

function end () {
  $q.notify({
    message: `Training ${props.training.name} done.`,
    color: 'green',
    position: 'center'
  })
  playEndSound()
}

const soundUrl = ref('audio/bowl-strike-5s.mp3')
const tickSoundUrl = ref('audio/tick-0s.mp3')

function playSound () {
  const audio = new Audio(soundUrl.value)
  audio.play()
}

function playTickSound () {
  const audio = new Audio(tickSoundUrl.value)
  audio.play()
}

async function playEndSound () {
  const intervalId = setInterval(() => playSound(), 300)

  await wait(1)
  clearInterval(intervalId)
}
</script>
